<section id="finished" class="mx-4">
  <p>Ура! Вы прошли все 2500 слов!</p>
  <p>
    Теперь вы можете или скачать их к себе в виде файла, или же повторить тест,
    но уже только с неизвестными ранее словами.
  </p>
  <div class="mt-8 text-center">
    <button
      (click)="download()"
      [disabled]="!incorrectWords.length"
      [ngClass]="{
        'bg-gray-500 text-gray-400 cursor-not-allowed': !incorrectWords.length,
        'bg-blue-600 text-white': incorrectWords.length
      }"
      [title]="
        !incorrectWords.length
          ? 'Вы знаете все 2500 слов. Поздравляем!'
          : 'Начать заново, но уже только с неизвестными словами'
      "
      class="next-move px-6 py-3 mx-4 mb-6 rounded"
    >
      Скачать слова как .txt
    </button>
    <button
      (click)="moveOn()"
      [disabled]="!incorrectWords.length"
      [ngClass]="{
        'bg-gray-500 text-gray-400 cursor-not-allowed': !incorrectWords.length,
        'bg-blue-600 text-white': incorrectWords.length
      }"
      [title]="
        !incorrectWords.length
          ? 'Вы знаете все 2500 слов. Поздравляем!'
          : 'Начать заново, но уже только с неизвестными словами'
      "
      class="next-move px-6 py-3 mx-4 mb-6 rounded"
    >
      Двигаться дальше
    </button>
  </div>
</section>
