<main class="flex flex-col sm:flex-row sm:flex-wrap px-6">
  <article
    *ngFor="let word of words"
    class="mt-4 sm:w-1/2 flex flex-wrap justify-around items-center rounded overflow-hidden shadow-lg py-6"
  >
    <div class="w-full flex justify-around">
      <span class="font-bold">{{ word.word }}</span>
      <button
        (click)="showAnswer(word.id)"
        type="button"
        class="ml-2"
        [ngClass]="{
          'text-blue-400 underline': !word.showAnswer,
          'text-gray-400': word.showAnswer
        }"
        [disabled]="word.showAnswer"
      >
        Показать перевод
      </button>
    </div>

    <div *ngIf="word.showAnswer" class="mt-4 w-full text-center">
      <p class="ml-2">{{ word.translation }}</p>
      <div class="ml-2 mt-4 mr-12 text-right">
        <button type="button" class="w-10 h-10 bg-green-400 rounded-lg">
          Y
        </button>
        <button type="button" class="w-10 h-10 ml-2 bg-red-400 rounded-lg">
          N
        </button>
      </div>
    </div>
  </article>
</main>
